<div>
    <h2>
        <span>Rfb Locations</span>
        <button class="btn btn-primary float-right jh-create-entity create-rfb-location" [routerLink]="['/', { outlets: { popup: ['rfb-location-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Rfb Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rfbLocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Location</span></th>
            <th><span>Run Day Of Week</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rfbLocation of rfbLocations ;trackBy: trackId">
                <td><a [routerLink]="['../rfb-location', rfbLocation.id ]">{{rfbLocation.id}}</a></td>
                <td>{{rfbLocation.location}}</td>
                <td>{{rfbLocation.runDayOfWeek}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rfb-location', rfbLocation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-location/'+ rfbLocation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rfb-location/'+ rfbLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
